<h1>People</h1>

<p *ngIf="!(people$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New Person</a>
</p>

<table class="table table-sm table-hover" *ngIf="(people$ | async)?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of (people$ | async)">
      <td>{{ person.personId }}</td>
      <td><a [routerLink]="['/person/', person.personId]">{{ person.firstName }}</a></td>
      <td><a [routerLink]="['/person/edit/', person.personId]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(person.personId)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>